<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= image_tag @contact.profile_picture.url(:thumb), class: "profile-picture" %>
</p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @contact.relationship %>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
